/* Basic styling for the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    /* background-image: url("IMGS2/bg.jpg"); */
    background: url("../IMGS2/smartcity.webp") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.feedback-container {
    color:white;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    backdrop-filter: blur(2px) saturate(200%);
    -webkit-backdrop-filter: blur(2px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

button {
    background-color: #00ff88;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #00ff00f5;
}

.stars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 40px;
    color: #f6f2f2;
}

.stars .star {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.stars .star:hover {
    color: #ffc107; /* Change color on hover */
    transform: scale(1.2); /* Slight zoom effect for interactivity */
}

.stars .star.selected {
    color: #fbff00;
    text-shadow: 0 0 8px rgba(255,204,0,0.7);
}

#confirmation {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #0cf614;
}
