@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* My original code for navbar */


#main {
  position: relative;
  overflow: hidden;
}
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background:#f1f1f1;
}

#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}

#page4 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}

#page5 {
  position: relative;
  background: #f1f1f1;
}

canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
}
#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  font-size: 100px;
  white-space: nowrap;
  font-family: gilroy;
}
#loop > h1 {
  font-weight: 400;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loop > h1 > span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}
@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;    
}
#nav>h3>a{
    text-decoration: none;
    color: #000;
}
#nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
} */
#page > h3 {
  position: absolute;
  top: 65%;
  font-family: gilroy;
  font-weight: 5000;
  color: #7c7c7c;
  left: 5%;
}
#page > h4 {
  position: absolute;
  top: 75%;
  left: 5%;
  font-family: gilroy;
  font-weight: 5000;
}
#page1 > #right-text {
  position: absolute;
  top: 30%;
  left: 10%;
}
#page1 > #right-text > h3 {
  font-weight: 4000;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #7c7c7c;
}
#page1 > #right-text > h1 {
  line-height: 1.5;
  font-size: 40px;
}
#page1 > #left-text {
  position: absolute;
  top: 60%;
  right: 10%;
  text-align: end;
}
#page1 > #left-text > h1 {
  font-size: 40px;
  line-height: 1.5;
}
#page1 > #left-text > h3 {
  color: #7c7c7c;
  font-weight: 400;
}
#page2 > #text1 {
  position: absolute;
  top: 10%;
  left: 10%;
}
#page2 > #text1 > h3 {
  color: #7c7c7c;
  font-weight: 400;
}
#page2 > #text1 > h1 {
  font-size: 40px;
  line-height: 1.5;
}
#page2 > #text2 {
  position: absolute;
  top: 70%;
  right: 5%;
  text-align: end;
  font-weight: 1000;
  font-size: 20px;
}
#page2 > #text2 > p {
  color: #7c7c7c;
  font-weight: 400;
}
#page3 > #text3 {
  position: absolute;
  top: 40%;
  right: 10%;
  text-align: end;
}
#page3 > #text3 > h3 {
  color: #7c7c7c;
  font-weight: 400;
}
#page3 > #text3 > h1 {
  font-size: 40px;
}
#page4 > #about > #text3 {
  position: absolute;
  top: 10%;
  left: 10%;
}
#page4 > #about > #text3 > h3 {
  color: #7c7c7c;
  font-weight: 400;
}
#page4 > #about > #text3 > h1 {
  font-size: 40px;
  line-height: 1.5;
}
#page4 > #about > #text4 {
  position: absolute;
  top: 70%;
  right: 5%;
  text-align: end;
  font-weight: 1000;
  font-size: 20px;
}
#page4 > #about > #text4 > p {
  color: #7c7c7c;
  font-size: medium;
  font-weight: 400;
  font-size: 20px;
}
#page4 > #about > #text3 > p {
  color: #7c7c7c;
  font-size: medium;
  font-weight: 400;
  font-size: 20px;
}

/* contact */
.contact{
  min-height: 100vh;
  background-color: #f1f1f1;
  padding: 50px;
  text-align: center;
}
.container{
  max-width: 800px;
  margin:0 auto;
}
.container h2{
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}
.content-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.contact-form{
  text-align: left;
  scroll-snap-align: start;

}
.contact-form h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.form-group{
  margin-bottom: 20px;
}
input, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}
input:focus,
textarea:focus{
  outline: none;
  box-shadow: 0 0 8px #bbb;
}
button{
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(44 , 44, 44);
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover{
  background: #555
  ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #45a049;
  opacity: 0.8;
}
.contact-info{
  text-align: left;
}
.contact-info h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.contact-info p{
  margin-bottom: 10px;
  color: #555;
}
.contact-info i{
  color:#333;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px;
  }
  .content-wrapper {
    grid-template-columns: 1fr; /* Change to a single column layout for small screens */
  }
  .contact-form,
  .contact-info {
    text-align: center; /* Center align content in mobile view */
  }
  .contact-form h3,
  .contact-info h3 {
    margin-bottom: 15px; /* Slightly reduce heading margin in mobile view */
  }
  iframe{
    height: 200px;
    width: 300px;
  }
}

/*  footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .footer-content {
      flex-direction: column;
  }
}

.loader-wrapper{
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(42, 3, 134);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loader {
display: inline-block;
width: 50px;
height: 50px;
position: relative;
border: 4px solid #Fff;

animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}

/* sponsors */
.sponsorimg{
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .sponsorimg{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}

/* Add this media query at the end of your existing CSS */
@media screen and (max-width: 768px) {
  #loop {
    top: 20%;
    font-size: 50px;
  }

  #page > h3 {
    top: 50%;
  }

  #page > h4 {
    top: 60%;
  }

  #page1 > #right-text,
  #page1 > #left-text,
  #page2 > #text1,
  #page2 > #text2,
  #page3 > #text3,
  #page4 > #about > #text3,
  #page4 > #about > #text4 {
    position: static;
    text-align: center;
  }

  #page1 > #right-text > h3,
  #page1 > #left-text > h1,
  #page2 > #text1 > h3,
  #page2 > #text1 > h1,
  #page2 > #text2 > p,
  #page3 > #text3 > h3,
  #page3 > #text3 > h1,
  #page4 > #about > #text3 > h3,
  #page4 > #about > #text3 > h1,
  #page4 > #about > #text4 > p,
  #loop > h1 {
    font-size: 24px;
  }

  canvas {
    max-width: 100%;
    height: auto;
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }

  iframe {
    height: 200px;
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
  }



  .footer-section {
    margin-bottom: 20px;
  }

  .sponsorimg {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}
